/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
/stats
/vendor/*
/fuel/vendor/*
/fuel/app/logs/*
/fuel/app/cache/*
/fuel/app/config/crypt.php
/fuel/app/config/development/*
/nbproject
/docs
/uploads/*
/public/assets/files/users/*
/public/assets/img/users/*
/public/assets/img/cache/*
!index.html

/php.ini
/php*.ini

.errordocs

pids
logs

node_modules
npm-debug.log

!.gitkeep
